<!DOCTYPE html>
<html>
<head>
    <title>Aggregated Employment Data</title>
</head>
<body>
    <h1>Aggregated Employment Data</h1>
    <table border="1">
        <tr>
            <th>Total Entries</th>
            <th>Average Salary</th>
            <th>Max Salary</th>
            <th>Min Salary</th>
        </tr>
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
        </tr>
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
